* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.full-page {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url('images/image.jpg');
	background-position: center;
	background-size: cover;
	position: absolute;
}

.app-logo {
	width: 20px;
}

.logo1 {
	width: 110px;
	height: 30px;
	margin: 10px 5px;
}

.ques-no {
	width: 100px;
	background: #ff6a06;
	margin: auto;
	padding: 10px;
	text-align: center;
	border-radius: 25px;
	position: relative;
	top: -15px;
	color: white;
}

.quiz-form {
	width: 300px;
	margin: 120px auto;
	background: white;
	border-radius: 20px;
	position: relative;
}

.question {
	font-size: 17px;
	font-weight: 600;
	padding: 10px 15px 20px 15px;
}

.options {
	width: 250px;
	margin: 30px auto;
	line-height: 20px;
}

input[class='correct'] {
	accent-color: green;
}

input[class='wrong'] {
	accent-color: rgb(255, 2, 2);
}

.submit-btn {
	position: relative;
	top: -10px;
	left: 82px;
	font-size: 13px;
	padding: 4%;
	/* margin: 5% 28%; */
	/* margin-top: 20px; */
	margin-bottom: 10px;
	width: 45%;
	background: #ff6a06;
	text-align: center;
	color: white;
	border-radius: 70px;
	outline: none;
	border: 0;
}

.submit-btn:hover {
	background: #f34c0a;
}

.timer {
	position: relative;
	top: -5px;
	text-align: center;
	color: rgb(65, 65, 65);
	padding-bottom: 10px;
}

header {
	padding: 5%;
	margin: 1px;
	border-radius: 20px 20px 0 0;
	background: #ff6a06;
	text-align: center;
	color: white;
}

.thank-you {
	width: 300px;
	margin: 120px auto;
	background: white;
	border-radius: 20px;
	position: relative;
	line-height: 20px;
}

section {
	padding: 30px 15px 25px 15px;
}

.start {
	position: relative;
	left: 73px;
	margin-bottom: 0;
}

@media screen and (min-width: 440px) {
	.quiz-form {
		width: 400px;
		margin: 90px auto;
	}
	.logo1 {
		width: 150px;
		height: 45px;
		margin: 10px;
	}
	.question {
		padding-left: 20px;
		font-size: 18px;
	}
	.options {
		width: 350px;
		font-size: 14px;
		/* padding: 0 10px; */
		line-height: 18px;
	}
	.submit-btn {
		width: 30%;
		padding: 3%;
		left: 150px;
		margin-bottom: 2px;
	}
	.timer {
		float: left;
		left: 15px;
		border: 1px solid #ff6a06;
		border-radius: 70px;
		padding: 8px 15px;
		font-size: 12px;
	}
	.start {
		font-size: 15px;
		width: 110px;
		padding: 12px;
		left: 115px;
		top: 10px;
	}
	.thank-you {
		margin: 80px auto;
		width: 400px;
	}
	.thank-you header {
		font-size: 20px;
	}
	section {
		font-size: 15px;
		margin: 10px 12px;
	}
}

@media screen and (min-width: 540px) {
	.quiz-form {
		width: 500px;
		margin: 90px auto;
	}
	.ques-no {
		margin-left: 8px;
		top: 8px;
	}
	.question {
		padding-top: 25px;
	}
	.options {
		margin: 30px 15px;
	}
	.submit-btn {
		width: 23%;
		left: 250px;
		padding: 12px;
	}
	.timer {
		float: left;
		left: 15px;
		border: 1px solid #ff6a06;
		border-radius: 70px;
		padding: 8px 15px;
		font-size: 12px;
	}
	.thank-you {
		width: 500px;
	}
	.start {
		width: 110px;
		left: 170px;
	}
}

@media screen and (min-width: 740px) {
	.quiz-form {
		width: 650px;
	}
	.question {
		font-size: 20px;
		margin-left: 10px;
	}
	.options {
		margin-left: 40px;
		margin-bottom: 50px;
		font-size: 17px;
	}
	.submit-btn {
		left: 355px;
	}
	.timer {
		font-size: 14px;
		bottom: 2px;
	}
	.thank-you {
		width: 650px;
	}
	.start {
		left: 240px;
		font-size: 17px;
		padding: 14px;
		width: 120px;
	}
	header {
		padding: 4%;
	}
	.thank-you header {
		font-size: 25px;
	}
}

@media screen and (min-width: 850px) {
	.quiz-form {
		margin: 65px auto;
		width: 750px;
	}
	.ques-no {
		font-size: 18px;
		padding: 12px;
	}
	.question {
		margin: 8px 12px;
		font-size: 20px;
	}
	.options {
		font-size: 17px;
	}
	.submit-btn {
		left: 450px;
		font-size: 15px;
		width: 20%;
	}
	.timer {
		padding: 10px;
		top: -11px;
	}
	.thank-you {
		width: 750px;
	}
	.start {
		left: 285px;
	}
	.thank-you header {
		padding: 3.5%;
	}
}
