* {
	margin: 0;
	padding: 0;
}

.full-page {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('image.jpg');
	background-position: center;
	background-size: cover;
	position: absolute;
}

.form-box {
	width: 80%;
	position: relative;
	margin: 30% auto;
	background: rgb(255, 255, 255);
	padding: 5px;
}

.buttons {
	width: 50%;
	margin: 5% auto;
	position: relative;
	border-radius: 70px;
	box-shadow: 0 0 20px 20px #d8440a1f;
}

.toggle-btn {
	cursor: pointer;
	width: 50%;
	padding: 5%;
	font-size: 40px;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
/*
#btn {
	top: 0;
	left: 0;
	position: absolute;
	width: 50%;
	height: 100%;
	background: #ff6a06;
	border-radius: 70px;
	transition: 0.5s;
} */
